.p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
 #stripe-info-success {
        display: block;
        size: 40;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgb(0, 0, 0);
        width: 50%;
      }
      #stripe-info-success.visible {
        display: block;
      }

      #stripe-info-failure {
        display: none;
        position: fixed;
        top: 0;
        float:right;
        right: 0;
        background-color: crimson;
        width: 50%;
      }
      #stripe-info-failure {
        display: block;
      }

      .close {
       font-size: 20px;
        float:right;
        display:inline-block;
        padding:2px 5px;
        color: black;
        background:whitesmoke;
        transition: transform .3s;
    }

    .close:hover {
        float:right;
        display:inline-block;
        padding:2px 5px;
        background:black;
        color:whitesmoke;
        cursor: pointer;
        transform: rotate(3.142rad);
        
    }